.quoteBox {
  background-color: rgba(255, 255, 255, 0.305);
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(10, 10, 10, 0.664);
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.quoteBox img {
  border-radius: inherit;
}

.article {
  text-align: center;
}

.button {
  display: block;
  margin: 30px auto;
  height: 35px;
  border-radius: 10px;
  background-color: #222;
  color: white;
  font-weight: 600;
}

.button:hover {
  background-color: rgba(183, 183, 63, 0.84);
  color: white;
  border: 1px solid white;
  font-weight: 600;
}

/* .quoteBox.img1 {
  background-image: url(/public/images/jeff-bezos.webp);
}

.quoteBox.img2 {
  background-image: url(/public/images/richard-branson.webp);
}

.quoteBox.img3 {
  background-image: url(/public/images/warren-buffett.webp);
}

.quoteBox.img4 {
  background-image: url(/public/images/jim-simons.webp);
}

.quoteBox.img5 {
  background-image: url(/public/images/ray-dalio.webp);
} */
